
<p id="notice"><%= flash[:notice] %></p>
  <div class="container">
    <div class="row">
      <%= render 'user_info.html.erb', { current_user: @show.user,book: @book } %>

      <div class="col-md-8 offset-md-1">
  		  <h2>Book detail</h2>
  		  <table class="table">
  		    <tbody>
  		      <tr>
  		        <td>
  		          <%= link_to user_path(@show.user) do %>
  		            <%= image_tag @show.user.get_profile_image(100, 100) %><br><%= @show.user.name %>
		            <% end %>
  		        </td>
  		        <td><%= link_to @show.title, book_path(@show) %></td>
              <td><%= @show.body %></td>

  		        <% if @show.user == current_user %>
                <td><%= link_to "Edit", edit_book_path(@show), class: "btn btn-sm btn-success edit_book_2464" %></td>
                <td><%= link_to "Destroy", book_path(@show), class: "btn btn-sm btn-danger destroy_book_2464", method: :delete, "data-confirm" => "本当に消しますか？" %></td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
